<html>
<head>
<title>PREDICTION FORM</title>
<link rel="stylesheet" 
href="style.css" type="text/css">
</head>
<body>
<div class="main">
<div class="prediction">
<h2>PREDICTION FORM</h2>
<label>Gender:</label>
<select>
<option value=""></option>
<option value="">Male</option>
<option value="">Female</option>
</select>
&nbsp
<label>Seniorcitizen:</label>
<select>
<option value=""></option>
<option value="0">0</option>
<option value="1">1</option>
</select>
<br>
<label>Partner:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
</select>
&nbsp
<label>Dependents:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
</select>
<br>
<label>Tenure:</label>
<input type="number">
&nbsp
<label>PhoneService:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
</select>
<br>
<label>Multiplelines:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No PhoneService</option>
</select>
&nbsp
<label>InternetService:</label>
<select>
<option value=""></option>
<option value="">DSL</option>
<option value="">Fiber optic</option>
<option value="">No</option>
</select>
<br>
<label>OnlineSecurity:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
&nbsp
<label>OnlineBackup:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
<br>
<label>DeviceProtection:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
&nbsp
<label>TechSupport:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
<br>
<label>StreamingTv:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
&nbsp
<label>StreamingMovies:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
<option value="">No Internet Service</option>
</select>
<br>
<label>Contract:</label>
<select>
<option value=""></option>
<option value="">Month-to-month</option>
<option value="">One Year</option>
<option value="">Two Year</option>
</select>
&nbsp
<label>PaperlessBilling:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
</select>
<br>
<label>PaymentMethod:</label>
<select>
<option value=""></option>
<option value="">Electronic check</option>
<option value="">Mailed check</option>
<option value="">BankTransfer(automatic)</option>
<option value="">Creditcard(automatic)</option>
</select>
&nbsp
<label>TotalCharges:</label>
<input type="number">
<br>
<label>MonthlyCharges:</label>
<input type="number">
&nbsp
<label>Churn:</label>
<select>
<option value=""></option>
<option value="">Yes</option>
<option value="">No</option>
</select>
<br><br>
<div class="button">
<center>
<input type="button" value="Submit">
</center>
</div>
</div>
</div>
</body>
</html>

























