{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'poppins',sans-serif;
}
body{
display:flex;
height:100vh;
justify-content:center;
align-items:center;
padding:10px;
background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
.prediction{
max-width:700px;
width:100%;
background:#fff;
padding:25px 30px;
border-radius:3px;
}
label{
width:150px;
padding:10px;
margin-right:5px;
display:inline-block;
justify-content:space-between;
}
select{
width:145px;
display:inline-block;
justify-content:space-between;
}
input {
width:145px;
border-width:2px;
display:inline-block;
justify-content:space-between;
}

.button input{
height:5%;
width:50%;
align-item:center;
color:#fff;
background:linear-gradient(135deg,#71b7e6,#9b59b6);
outline:none;
}

